logic-apps/smoke-test/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP_-_Deactivate_DailyBuild": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat(parameters('BaseURL'), '/codesystems/', parameters('shortName'))",
                    "method": "PUT",
                    "headers": {
                        "Authorization": "Basic ZGV2OmRldg=="
                    },
                    "body": {
                        "countryCode": "no",
                        "dailyBuildAvailable": false,
                        "defaultLanguageCode": "no",
                        "name": "Norwegian Edition",
                        "owner": "The Norwegian Directorate of Health"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP_-_DailyBuild_Status": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat(parameters('BaseURL'), '/codesystems/', parameters('shortName'))",
                    "method": "GET"
                },
                "runAfter": {
                    "HTTP_-_Deactivate_DailyBuild": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Check_Dependency_and_DailyBuild": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('HTTP_-_DailyBuild_Status')",
                                0
                            ]
                        }
                    ]
                },
                "actions": {},
                "else": {
                    "actions": {
                        "HTTP_-_Rollback": {
                            "type": "Http",
                            "inputs": {
                                "uri": "@concat(parameters('BaseURL'), '/codesystems/', parameters('shortName'), '/daily-build/rollback')",
                                "method": "POST",
                                "headers": {
                                    "Authorization": "Basic ZGV2OmRldg=="
                                },
                                "body": {
                                    "type": "SNAPSHOT",
                                    "branchPath": "MAIN/SNOMEDCT-NO",
                                    "createCodeSystemVersion": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "HTTP_-_DailyBuild_Status": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP_Check_Autoring_Stats": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat(parameters('BaseURL'), '/', parameters('branch'), '/authoring-stats')",
                    "method": "GET"
                },
                "runAfter": {
                    "Check_Dependency_and_DailyBuild": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Check_Authoring_Stats": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('HTTP_Check_Autoring_Stats')['newConceptsCount']",
                                0
                            ]
                        }
                    ]
                },
                "actions": {},
                "else": {
                    "actions": {
                        "HTTP_Rollback": {
                            "type": "Http",
                            "inputs": {
                                "uri": "@concat(parameters('BaseURL'), '/codesystems/', parameters('shortName'), '/daily-build/rollback')",
                                "method": "POST",
                                "body": {
                                    "type": "SNAPSHOT",
                                    "branchPath": "MAIN/SNOMEDCT-NO",
                                    "createCodeSystemVersion": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "HTTP_Check_Autoring_Stats": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP_-_Initialize_new_import_job": {
                "type": "Http",
                "inputs": {
                    "uri": "@concat(parameters('BaseURL'), '/imports')",
                    "method": "POST",
                    "headers": {
                        "Authorization": "Basic ZGV2OmRldg=="
                    },
                    "body": {
                        "branchPath": "MAIN/SNOMEDCT-NO",
                        "createCodeSystemVersion": true,
                        "type": "SNAPSHOT"
                    }
                },
                "runAfter": {
                    "Check_Authoring_Stats": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "HTTP_-_Get_Import_Status": {
                "type": "Http",
                "inputs": {
                    "uri": "@outputs('HTTP_-_Initialize_new_import_job')?['headers']?['Location']",
                    "method": "GET"
                },
                "runAfter": {
                    "HTTP_-_Initialize_new_import_job": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('HTTP_-_Get_Import_Status')['status']",
                                "WAITING_FOR_FILE"
                            ]
                        }
                    ]
                },
                "actions": {
                    "HTTP_-_Get_Bobfile": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://snowmedtestfiler.blob.core.windows.net/filestestrelease/SnomedCT_ManagedServiceNO_PRODUCTION_NO1000202_20240915T120000Z.zip",
                            "method": "GET"
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {}
                },
                "runAfter": {
                    "HTTP_-_Get_Import_Status": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP_-_Get_Import_Status_After_Import": {
                "type": "Http",
                "inputs": {
                    "uri": "@outputs('HTTP_-_Initialize_new_import_job')?['headers']?['Location']",
                    "method": "GET"
                },
                "runAfter": {
                    "Condition": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Condition_": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@body('HTTP_-_Get_Import_Status_After_Import')['status']",
                                "COMPLETED"
                            ]
                        }
                    ]
                },
                "actions": {},
                "else": {
                    "actions": {}
                },
                "runAfter": {
                    "HTTP_-_Get_Import_Status_After_Import": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET"
                }
            }
        }
    },
    "kind": "Stateful"
}